@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueUltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

*:focus {
    outline: none;
    box-shadow: none;
}

html, body {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    background: linear-gradient(to bottom, #FFFFFF 0%, #CDD3DF 100%);
    background-repeat: no-repeat;
}

.navbar-glass{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    background: transparent;
    backdrop-filter: blur(7px) saturate(60%);
    -webkit-backdrop-filter: blur(4px) saturate(60%);
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 15px 30px;

    z-index: 99999;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
}


.navbar-glass a {
    color: #000;
    margin: 0 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbar-glass:nth-child(1) a{
    margin-left: 0;
}

.navbar-glass a:hover {
    color: #000;
    font-weight: 500;
}

.btn-signin {
    background: #111;
    color: white;
    border-radius: 30px;
    padding: 8px 30px;
    position: relative;
    font-weight: 300;
    border: white 2px solid;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.7s ease;
}

.btn-signin:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 35px;
}
